.navbar {
  background-color: #E6E2DC !important;
}

// .navbar {
//   background-color: #D1CBC3 !important;  
// }

.navbar, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.hero-lead h2 {
  margin-bottom: 0 !important;
  line-height: .8 !important;
}